<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="id">Book ID:</label><br>
        <input type="text" id="id" name="id" value="{{ data.id }}" readonly><br>
        <label for="name">Book Name:</label><br>
        <input type="text" id="name" name="name" value="{{ data.name }}"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{ data.author }}"><br><br>
        <input type="submit" value="Update Book">
    </form>
</body>
</html>
