
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Information Form</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
    font-family: Arial, sans-serif;
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    height: 40
}
    </style>
</head>
<body>
    <h1>Employee Information Form</h1>
    <form method="POST">

        {% csrf_token%}
        <label for="id">id:</label>
        <input type="text" id="id" name="id"><br><br>
        <label for="name">name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="place">place:</label>
        <input type="text" id="place" name="place"><br><br>
        <label for="joining_date">joining_date:</label>
        <input type="date" id="joining_date" name="joining_date"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
